@font-face {
    font-family: "vazir" ;
    src: url("../fonts/Vazir.eot") format("eot");
    src: url("../fonts/Vazir.ttf") format("ttf");
    src: url("../fonts/Vazir.woff") format("woff");
    src: url("../fonts/Vazir.woff2") format("woff2");
}